@charset "utf-8";
*{
			font-family:Arial;
		}
	body{
		 background-color: #001931;
		 color:white;
         background-size: cover; 
		 background-repeat: no-repeat; 
		 margin-top:0; 
	     margin:0px;
		}
div{
	overflow:hidden;}
	#ramka{
			
		background-image: url();
		text-align: center;
		width:100%;
		margin-right:auto;
		
	margin-left:auto;}
	#naglowek{
		
	
		width:100%;
		padding-bottom: 10px;
		height:106px;
		background-image: url(galamshop.png);
		background-repeat: no-repeat;
		background-position: center;
		font-size:85px;
		text-align:center;		border-bottom: solid thin rgba(255,255,255,1.00);
	background-color:#0003B1;}
	#stopka{

		width:100%;
		height:49px;
		border-bottom: solid thin #FFFf;
		border-top: solid thin rgba(255,255,255,1.00);
		font-size:12px;
		letter-spacing:5px;
		padding-top:3px;
		}
	
	#kol1{
		color:white;
		box-sizing: border-box;
		padding-top: 35px;
		border-right: solid thin #FFFF);
		float:left;
		font-weight: bold;
		font-size:21px;
		height:800px;
		width:300px;
        line-height:240px;
	    background-color: #006269;}
		.id1 {
			color:white;
			text-decoration: none;
				
		}
			.id1:hover {
			color:red;
		}
		img:hover {
			width:100%;
			background-color:yellow;
		}
		#kol2{
		box-sizing: border-box;
		text-align: center;
		font-size:27px;
		height:800px;
	    width:73.725%;
	    border-left: solid thin #FFFF;
		
		float:left;}
		a {
			
		}
	#kol3{
		box-sizing: border-box;
		text-align: center;
		font-weight: bold;
		padding-top:20px;
		font-size:29px;
		height:800px;
	    width:300px;
		padding:15px;
	    border-left: solid thin rgba(255,255,255,1.00);
		float:right;
		}
#log {
	text-align: center;
}
